#portfolio {
  height: fit-content;
}

.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 0.7rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--trasition) !important;
  height: 500px;
  position: relative;
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item-image {
  border-radius: 1.5rem;
  height: 270px;
  overflow: hidden;
}

.portfolio__item-image img {
  transform: scale(1);
  transition: var(--trasition);
}
.portfolio__item-image:hover img {
  transform: scale(1.2);
}
.btn-primary {
  position: absolute;
  bottom: 1rem;
}

.portfolio__item h3 {
  margin: 1.2rem 0 1rem;
  display: flex;
  font-size: 2rem;
  color: var(--color-primary);
  justify-content: center;
}
.portfolio__item p {
  display: flex;
  justify-content: center;
  font-size: 17px;
  margin-top: -1rem;
  align-items: center;
}

.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

@media screen and (max-width: 1624px) {
  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .portfolio__item {
    height: 450px;
  }
  .portfolio__item-image {
    height: 200px;
  }
}

@media screen and (max-width: 700px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .portfolio__item {
    height: 500px;
  }
  .portfolio__item-image {
    height: 300px;
  }
}
