#portfolio {
  height: fit-content;
}

.portfolio__container {
  display: flex;
  flex-direction: column;
  gap: -2.5rem;
  
}

.portfolio__item {
  background: var(--color-bg-variant);
  /* border-radius: 2rem; */
  overflow: hidden;
  border: 1px solid transparent;
  transition: var(--trasition) !important;
  height: 350px;
  position: relative;

}


.portfolio__item-body {
  width: 50%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}
.portfolio__item:nth-child(odd) .portfolio__item-body {
  right: 0rem;
}
.portfolio__item:nth-child(even) .portfolio__item-body {
  left: 0rem;
}

.portfolio__item-image img {
  position: absolute;
  transform: scale(1);
  transition: var(--trasition);
  width: 50%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.portfolio__item:nth-child(odd) .portfolio__item-image img {
  left: 0rem;

}
.portfolio__item:nth-child(even) .portfolio__item-image img {
  right: 0rem;
}


.portfolio__item-image:hover img {
  transform: scale(1.1);
}

.portfolio__item h3 {
  margin: 1.2rem 0 1rem;
  display: flex;
  font-size: 2rem;
  color: var(--color-primary);
  justify-content: center;
}
.portfolio__item p {
  display: flex;
  text-align: justify;
  justify-content: center;
  font-size: 17px;
  margin: -1rem 2rem 0 2rem;
  align-items: center;
}
.tools__container {
  display: flex;
  position: absolute;
  width: 50%; /* Adjusted width for responsiveness */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.tool__box {
  border: 1px solid var(--color-primary);
  background-color: var(--color-bg-variant);
  border-radius: 2rem;
  color: var(--color-primary);
  width: 100%; /* Adjusted width for responsiveness */
  width: max-content;
  padding: .2rem 1rem;
  margin: 0 0.2rem;
  word-wrap: break-word; /* Allow text to wrap onto the next line */ 

}

/* Ensure each tool is displayed in a separate box */
.tool__box p {
  margin: 0; 
  display: flex;
  align-items: center;
  gap: .2rem ;
  font-size: 0.8rem;
}

.portfolio__item-cta {
  display: flex;
  position: absolute;
  gap: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 7rem;
}


#portfolio-btn {
  width: 100%;
  font-size: 1.3rem;
  display: flex;
  padding: 0.2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 1300px){
  .tools__container {
    visibility: hidden;
  }
  .tool__box {
    visibility: hidden;
  }
}


@media screen and (max-width: 1024px) {
  .portfolio__item-body {
    width: 50%;
  }
  .portfolio__item:nth-child(odd) .portfolio__item-body {
    right: 0rem;
  }
  .portfolio__item:nth-child(even) .portfolio__item-body {
    left: 0rem;
  }
  .portfolio__item-image img {
    transform: scale(1);
    width: 50%;
  }
  
  .portfolio__item:nth-child(odd) .portfolio__item-image img {
    left: 0rem;
  
  }
  .portfolio__item:nth-child(even) .portfolio__item-image img {
    right: 0rem;
  }
  .portfolio__item h3 {
    margin: 1rem 0 .8rem;
    font-size: 1.5rem;
  }
  .portfolio__item p {
    font-size: 14px;
    margin: -1.5rem 1rem 0 1rem;
  }
  
  .tools__container {
    visibility: hidden;
  }
  .tool__box {
    visibility: hidden;
  }
  
}


@media screen and (max-width: 700px) {
  .portfolio__item {
    height: 450px;
    width: auto;
  }
  .portfolio__item-body {
    width: 100%;
    height: 50%;
    bottom: 0;
  }
  .portfolio__item-image img {
    transform: scale(1);
    width: 100%;
    height: 50%;
  }
  .portfolio__item h3 {
    margin: 1rem 0 .8rem;
    font-size: 1.5rem;
  }
  .portfolio__item p {
    font-size: 14px;
    margin: -1.5rem 1rem 0 1rem;
  }
  
  .tools__container {
    visibility: hidden;
  }
  .tool__box {
    visibility: hidden;
  }
  .portfolio__item-cta {
    margin-top: 5.5rem;
  }
}
