#about {
  height: 150vh;
}

.about__container h2 {
  color: var(--color-primary);
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.front {
  border: 1px solid var(--color-primary-variant);
  display: flex;
  border-radius: 2rem;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 200px;
  position: relative;
}

#names {

  padding: 0.5rem;
  top: -2rem;
  font-size: 1.5rem;
  color: var(--color-light);
  position: absolute;
}



.about__card {
  position: absolute;
  top: 45%;
  display: grid;
  grid-template-columns: .5fr 1fr;
  gap: .5rem;
  margin-top: -2rem;
  align-items: center;
  justify-content: center;
}

.about__item {
  display: flex;
  align-items: center;
  width: max-content;
}

.about__icon {
  margin-right: 0.5rem; /* Add spacing between icon and text */
  font-size: 1.5rem; /* Adjust icon size */
}

.about__icon {
  color: var(--color-primary);
  font-size: 2rem;
  cursor: pointer;
  align-items: center;
}


.about__card h5 {
  font-size: 1rem;
  color: var(--color-light);
}

.about__content p {
  text-align: left;
  margin: 2rem 0 2.6rem;
  color: var(--color-white);
  position: relative;
  font-size: 15px;
  text-align: justify;
}

.about__container {
  text-align: center;
}

.about__content a {
  margin-bottom: 4rem;
}

@media screen and (max-width: 1024px) {
  .about__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .about__card {
    grid-template-columns: .5fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  #about {
    height: 300vh;
  }
  
  .about__cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .about__card {
    grid-template-columns: .5fr 1fr;
  }
}
