header{
    height: 100vh;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
    padding: 18rem;

    
}
.h1{
    background: transparent;
    position: relative;
    animation: text 3s 1;
    font-size: 3.2rem;
    
}

span{
    color: var(--color-primary);
}
p{
    font-size: 12px;
}

@keyframes text{
    30%{
        letter-spacing: 10px;
        padding: 1rem;
    }
    70%{
        letter-spacing: 8px;
    }
}

.header__container h5{
    animation: h5 3s 1;
}

@keyframes h5{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    80%{
        letter-spacing: 10px;

    }
    100%{
        letter-spacing: 0px;

    }
}



/* Call to action CTA */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}



/* Header Socials */

.header__social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    font-size: 1.5rem;
}

.header__social::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

#linkedin{
    transform: scale(1);
    transition: var(--trasition);
}

#linkedin:hover{
    transform: scale(1.5);
}

#github{
    transform: scale(1);
    transition: var(--trasition);
}

#github:hover{
    transform: scale(1.5);
}

#facebook{
    transform: scale(1);
    transition: var(--trasition);
}

#facebook:hover{
    transform: scale(1.5);
}

#instagram{
    transform: scale(1);
    transition: var(--trasition);
}

#instagram:hover{
    transform: scale(1.5);
}

/* Image */

/* .me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0 ;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;

} */

/* Scroll */
.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1rem;
    animation: scroll 4s 1;
}

.dark{
    position: absolute;
    right: 0;
    bottom: 10rem;
    animation: darkscroll 4s 1;
    border-radius: 50%;
    background: transparent;
    color: var(--color-primary);

}
.dark a.active{
    background: var(--color-primary);
    color: var(--color-light);
}
@keyframes darkscroll {
    0%{
        bottom: 15rem;
    }
    50%{
        bottom: 10rem;
    }
}
@keyframes scroll {
    0%{
        bottom: 10rem;
    }
    50%{
        bottom: 5rem;
    }
}

/* Dark mode */



@media screen and (max-width:1924px){
   header{
    height: 100vh;
   }
   .header__container{
    padding: 14rem 0 0 0;
   }
}


@media screen and (max-width:600px){
    header{
        height: 100vh;
    }

    .header__social, .scroll__down{
        display: none;
    }
    .header__container{
        padding: 15rem 0 0 0;
    }
    .header__container h1{
        font-size: 2.2rem;
    }
    .header__container h5{
        font-size: 1rem;
    }
}